@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 37, 43, 70;
  --background-rgb: 255, 255, 255;
  --font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 37, 43, 70;
    --font-size: 18px;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: var(--font-size);
}

.graphic img {
  z-index: 10;
  @apply relative;
}

.graphic::after {
  content: "";
  z-index: 0;
  @apply absolute;
  @apply top-[20%];
  @apply left-[20%];
  @apply bottom-0;
  @apply block;
  @apply bg-brand-soft-blue;
  @apply w-screen;
  @apply h-auto;
  @apply rounded-s-full;
}
